body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    background: #111;      /* رنگ پایه تاریک */
    color: #fff;
}

/* کلاس پس‌زمینه نئونی */
.neon-bg {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg,
        #ff00ff 0%,
        #00ffff 50%,
        #ff00ff 100%);
    background-size: 200% 200%;
    animation: neonMove 8s ease infinite;
}

/* انیمیشن حرکت ملایم رنگ‌ها */
@keyframes neonMove {
    0%   { background-position: 0% 0%; }
    50%  { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

/* افکت نئونی برای متن (اختیاری) */
.neon-text {
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #ff00ff,
        0 0 30px #ff00ff,
        0 0 40px #ff00ff,
        0 0 50px #ff00ff,
        0 0 60px #ff00ff;
}





h1 {
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(200, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.5% ease;
}

.choices button:hover {
    background-color: hsl(200, 100%, 70%);
}

#playerDisplay,
#computerDisplay {
    font-size: 2.5rem;
}

#resultDisplay {
    font-size: 5rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 2rem;
}
.greenText, #playScoreDisplay{
    color: hsl(130,84%, 54%);
}
.redText, #computerScoreDisplay{
    color: hsl(0,84%, 60%);
}